/* indexにのみ適用のスタイル css */
#index {
    h2 {
        text-align: center;
    }
    .h3 {
        text-align: center;
    }
    .sub-title {
        margin-top: 4px;
        margin-bottom: 16px;
        text-align: center;
        font-style: italic;
        opacity: 0.8;
    }

    .button {
        margin-top: 10px;
        margin-bottom: 10px;
        background-image: linear-gradient(-180deg, #d70000, #bd0000);
        color: #FFF;
    }
    ul{
        text-decoration: none;
        
    }
    ul:hover{
        font-weight: bold;
        text-decoration: underline;
    }
    .button:hover {
        background: #bd0000;
    }

    .fas {
        color: #FFF;
    }
    
    .month-navigation {
        display: flex;
        justify-content: space-between; 
    }

    table {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        border-collapse: collapse;
    }
    table tr td {
        width: 14.28%; /* 7列なので100%を7で割る */
        border: 1px solid #dddddd;/* 枠線 */
        padding: 3px 10px 30px 10px;
        text-align: center;
        vertical-align: top;
    }
    table th {
        background-color: #cccccc;/*上の曜日*/
        padding: 8px;
    }
    table tr td.today {
        border: 4px solid #ff410c;/* 枠線 */
    }
    table .sunday {
        color:red
    }
    table .saturday {
        color:blue;
    }
    table .schedule-private{
        text-align: left;
        a {
            background-color: #f4df5a;
            color:black;
            font-weight: bold;
            text-decoration: solid;
            margin-bottom:4px;
        }
    }
    table .schedule-school{
        text-align: left;
        a {
            background-color: #6ebcf1;
            color:black;
            font-weight: bold;
            text-decoration: solid;
            margin-bottom:4px;
        }
    }
    table .schedule-work{
        text-align: left;
        a {
            background-color: #ff7e84;
            color:black;
            font-weight: bold;
            text-decoration: solid;
            margin-bottom:4px;
        }
    }

    .detail {
        padding: 10px;
        margin-bottom: 24px;
        background-color: #f0f0f0;
        border-radius: 10px;
        text-align: left;
    }
    .detail p {
        padding: 0px 30px;
        text-align: left;
        font-size: large;
        font-weight: bold;
        text-decoration: solid;
        margin-bottom:4px;
    }
}
