<!DOCTYPE html><!--編集用html-->
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カレンダー - {{ schedule.title }} - 編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_schedule.css') }}">
</head>
<body>
    <div id="edit_schedule" class="container">
        <h1 class="title-border">{{ schedule.title }} - 編集</h1>

		<form action="{{ url_for('edit_schedule',schedule_id=schedule.id) }}" method="POST" class="modern-form">
			<div class="form-group">
				<label for="title">件名</label>
				<input type="text" id="title" name="title" value="{{ schedule.title }}" required>
			</div> 

			<div class="form-group">
				<label for="title">開始日</label>
				<input type="date" id="startdate" name="startdate" value="{{ schedule.startdate.strftime('%Y-%m-%d') }}" required>
				<label for="title">終了日</label>
				<input type="date" id="finishdate" name="finishdate" value="{{ schedule.finishdate.strftime('%Y-%m-%d') }}">
			</div>
			
			<div class="form-group">
				<label for="title">分類</label>
				{% if schedule.category == 'プライベート' %}<input type="radio" id="private" name="category" value="プライベート" checked>プライベート
					{% else %}<input type="radio" id="private" name="category" value="プライベート">プライベート{% endif %}
				{% if schedule.category == '学校' %}<input type="radio" id="school" name="category" value="学校"checked>学校
					{% else %}<input type="radio" id="school" name="category" value="学校">学校{% endif %}
				{% if schedule.category == '仕事・バイト' %}<input type="radio" id="work" name="category" value="仕事・バイト" checked>仕事・バイト
					{% else %}<input type="radio" id="work" name="category" value="仕事・バイト">仕事・バイト{% endif %}
			</div>

			<div class="form-group">
				<label for="location">場所</label>
				<input type="text" id="location" name="location" value="{{ schedule.location }}">
			</div>

			<div class="form-group">
				<label for="url_link">関連URL</label>
				<input type="text" id="url_link" name="url_link" value="{{ schedule.url_link }}">
			</div>

			<div class="form-group">
				<label for="content">予定詳細 </label>
				<textarea id="content" name="content" >{{ schedule.content }}</textarea>
			</div>
			<button type="submit" class="button">予定を保存</button>
		</form>

        <form method="POST" action="{{ url_for('delete_schedule', schedule_id=schedule.id) }}">
            <button type="submit" class="delete button">予定を削除</button>
        </form>

        <a href="{{ url_for('index') }}" class="button">カレンダーに戻る</a>
    </div>
</body>
</html>
